[Unit]
Description = KITT Discord Service
After=network.target
StartLimmitIntetrvalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/root/kittbot
ExecStartPre=poetry install
ExecStart=poetry run python -OO -m kitt

[Install]
WantedBy=multi-user.target